 body{
    box-sizing: border-box;
width:99%;
border: solid #5b6dcd 10px;
padding: 5px;
font-family: "Lucida Console", "Courier New", monospace;
margin: 0 auto

 }
 .dark-mode {
  background-color: black;
  color: white;
}
 
 :root {
--main-white: #f0f0f0;
--background-red: #be3144;
--main-gray: #303841;

}   