#root {
  max-width: 1280px;
  margin: 0  ;
  padding: 0rem;
  text-align: left;

}
   
    /*.wingdings-text {
    
     font-family: "Wingdings",     "Zapf Dingbats", "Symbol", sans-serif;
   }*/ 

 
   